:root {   --primary-color: #B7190F
; }




* {
  box-sizing: border-box;
}
body {
  background: #1c0136;
  min-height: 100vh;
}
.scene {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100vw;
  position: relative;
  height: 100vh;
  overflow-x: hidden;
}
img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-69.5%, -26%);
  opacity: 0.2;
  height: 1300px;
}
.lava-lamp {
  height: calc(var(--height) * 1px);
  width: calc(var(--width) * 1px);
  position: relative;
}
.lava-lamp:after {
  content: '';
  height: 500px;
  width: 500px;
  position: absolute;
  background: radial-gradient(circle at 50% 50%, #19b5fe, transparent 60%);
  top: 45%;
  left: 50%;
  z-index: 4;
  transform: translate(-50%, -50%);
  filter: blur(10px);
  opacity: 0.5;
}
.lava-lamp:before {
  content: '';
  height: 25%;
  width: 300%;
  border-radius: 100%;
  background: radial-gradient(ellipse at 50% 50%, #19b5fe, transparent 60%);
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, 0);
  opacity: 0.5;
  filter: blur(10px);
}
.lava-lamp__main {
  border-radius: 50% 50% 50% 50%/60% 60% 40% 40%;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  z-index: 2;
}
.lava-lamp__main:after,
.lava-lamp__main:before {
  background: #000;
  content: '';
  height: 12%;
  left: 0;
  position: absolute;
  width: 100%;
}
.lava-lamp__main:after {
  top: 0;
}
.lava-lamp__main:before {
  bottom: 0;
  height: 26%;
}
.lava-lamp__glass {
  background: radial-gradient(circle at 50% 50%, #3a539b 25%, #19b5fe);
  border-radius: 50%/10%;
  overflow: hidden;
  height: 70%;
  left: 0;
  position: absolute;
  top: 10%;
  width: 100%;
  z-index: 2;
}
.lava-lamp__base {
  height: 20%;
  width: 100%;
  position: absolute;
  bottom: 0;
  overflow: hidden;
  border-radius: 0 0 50% 50%/0 0 35% 35%;
}
.lava-lamp__base:before {
  content: '';
  background: #000;
  border-radius: 50% 50% 50% 50%/60% 60% 40% 40%;
  position: absolute;
  top: -60%;
  height: calc(var(--height) * 1px);
  width: calc(var(--width) * 1px);
}
.lava-lamp__lava {
  border-radius: 50%/10%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  width: 100%;
  filter: url("#goo");
}
.lava-lamp__lava svg {
  height: 280px;
  width: 150px;
}
.blob {
  -webkit-animation-delay: calc(var(--delay) * 1s);
          animation-delay: calc(var(--delay) * 1s);
  -webkit-animation-direction: var(--direction);
          animation-direction: var(--direction);
  -webkit-animation-duration: calc(var(--speed) * 1s);
          animation-duration: calc(var(--speed) * 1s);
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-name: blob;
          animation-name: blob;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  fill: #29f1c3;
  transform-box: fill-box;
}
.blob--bottom,
.blob--top {
  -webkit-animation: none;
          animation: none;
}
.blob--top {
  -webkit-animation: sway 20s infinite linear;
          animation: sway 20s infinite linear;
}
@-webkit-keyframes sway {
  50% {
    transform: translate(50%, 0);
  }
}
@keyframes sway {
  50% {
    transform: translate(50%, 0);
  }
}
@-webkit-keyframes blob {
  from {
    transform: skew(calc(var(--skewX) * 1deg), calc(var(--skewY) * 1deg)) translate(0, 0);
  }
  to {
    transform: skew(calc(var(--skewX) * 1deg), calc(var(--skewY) * 1deg)) translate(0, calc((400 + (var(--height) * 2)) * -1px));
  }
}
@keyframes blob {
  from {
    transform: skew(calc(var(--skewX) * 1deg), calc(var(--skewY) * 1deg)) translate(0, 0);
  }
  to {
    transform: skew(calc(var(--skewX) * 1deg), calc(var(--skewY) * 1deg)) translate(0, calc((400 + (var(--height) * 2)) * -1px));
  }
}







@import 'compass/css3';
@import url('https://fonts.googleapis.com/css?family=Chewy|Gloria+Hallelujah');
$bg : #121327;
html { height:100%; width:100%; }
body{
 margin:0;
 padding:0;
 height:100%;
 width:100%;
 background:$bg;
 overflow:hidden;
 @include filter(hue-rotate(0deg));
 @include animation(huerot 5s ease infinite )
}
/** end for goo container **/
@function randomNum($min, $max) {
 $rand: random();
 $randomNum: $min + floor($rand * (($max - $min) + 1));
 @return $randomNum;
}

$color:#fff;
$color2:#5048A0;
$color3:#85EDE8;
$color4:#48098b;
.glowy-blob {
 position:absolute;
 left:50%;
 top:50%;
 @include transform(translate(-50,-50));
 @include filter(url('#goo'));
 div {
  width:80px;
  height: 80px;
  background:$color3;
  @include border-radius(500px);
  display: inline-block;
  position:absolute;
  box-shadow:0px 0px 50px $color3;
  $top-collection: 0;
  $left-collection: 0;

  @for $i from 2 to 17 {
   $left: randomNum(-60px, 60px);
   $top: randomNum(-60px, 60px);
   $randWH : randomNum(30px, 60px);
   &:nth-child(#{$i}) {
    width:$randWH;
    height: $randWH;
    left:$left;
   }

   $left-collection: append($left-collection,$left);
   $top-collection: append($top-collection,$top);
  }

  @for $i from 1 to length($top-collection) {
   &:nth-child(#{$i}) {
    top: 0;
    left: 0;
    @include animation(anim-#{$i} 2.5s ease-in-out infinite);
    @if($i == 1) {
     @include animation-delay(0s);
    }
    @else {
     @include animation-delay(randomNum(1s,3s));
    }
  }
  /**keyframes **/
   @include keyframes(anim-#{$i}) {
    0%{left:0;top:0}
    50% { left:nth($left-collection, $i+1);top:nth($top-collection, $i)}
    100%{left:0;top:0}
   }
  } //end of collection loop
  &:hover {
   cursor:default;
  }
 } //end of div

} //end of glowby-blob

 span {
  color:$color3;
  opacity: 0.5;
  font-size: 24px;
  font-family:'Chewy';
  font-weight: bolder;
  text-transform: uppercase;
  letter-spacing:1px;
  position: absolute;
  left:50%;
  top:30%;
  @include transform(translate(-50,-50));
  -webkit-touch-callout: none; /* iOS Safari */
  @include user-select(none);
   &:hover {
     cursor:default;
   }
 }

@include keyframes(huerot) {
 0%{@include filter(hue-rotate(0deg));}
 100%{@include filter(hue-rotate(360deg));}
}
@include keyframes(bounceback) {
 100%{left:0;top:0}
}








